/* style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    background: #1F2937;
    display: flex;
    align-items: center;
    padding: 8px 30px;
    justify-content: space-between;
}

.right-links ul {
    display: flex;
    list-style-type: none;
    gap: 12px;
}

.right-links ul a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}