/* style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background: #1F2937;
    display: flex;
    align-items: center;
    padding: 8px 30px;
    justify-content: space-between;
}

.right-links ul {
    display: flex;
    list-style-type: none;
    gap: 12px;
}

.right-links ul a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.body {
    display: flex;
    flex-direction: column;
}

.content1 {
    background: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    height: 400px;
}

.ctt1-one, .placeholder {
    height: 200px;
    width: 400px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.ctt1-para {
    color: #F9FAF8;
    margin-bottom: 12px;
    font-size: 18px;
}

.ctt1-signup {
    border: none;
    background: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    padding: 8px 32px;
    border-radius: 8px;
}

.placeholder {
    background: gray;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content2 {
    background: #F9FAF8;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 30px;
}

.ctt2-container {
    display: flex;
    gap: 25px;
}

.boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
}

img {
    width: 100px;
    height: 100px;
    border: 4px solid #3882F6;
    border-radius: 6px;
    margin-bottom: 12px;
}

.text-box {
    text-align: center;
    font-size: 16px;
    color: #1F2937;
}

.content3 {
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: center;
    align-items: center;
    background: #E5E7EB;
}

.quote {
    max-width: 820px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote-author {
    width: 820px;
    text-align: right;
    font-size: 18px;
    color: #1F2937;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1F2937;
    color: #F9FAF8;
    font-size: 14px;
    padding: 20px;
}
