/* style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    background: #1F2937;
    display: flex;
    align-items: center;
    padding: 8px 30px;
    justify-content: space-between;
}

.right-links ul {
    display: flex;
    list-style-type: none;
    gap: 12px;
}

.right-links ul a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.body {
    display: flex;
    flex-direction: column;
}

.content1 {
    background: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    height: 400px;
}

.ctt1-one, .placeholder {
    height: 200px;
    width: 400px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.ctt1-para {
    color: #F9FAF8;
    margin-bottom: 12px;
}

.ctt1-signup {
    border: none;
    background: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    padding: 8px 32px;
    border-radius: 8px;
}

.placeholder {
    background: gray;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

